body {
   background-color: rgb(255, 255, 255);
   color: rgb(0, 0, 0);
}

.query_form {
  display: flex;
  gap: 15px;
  align-items: flex-end;
}

.query_form div {
  display: flex;
  flex-direction: column;
}

.query_form input {
  padding: 5px;
  width: 120px;
}